.dashboard{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.logout-btn{
    margin-left: auto;
    margin-right: 20px;
    margin-top: 5px;
}

.app-nav-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    box-shadow: 0 1px 20px rgba(56, 40, 40, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    background: transparent;
    box-shadow: none;
    color: #fff;
    font-size: 15px;
    margin-left: 15px;
    line-height: 36px;
    margin-right: 8px;
    margin-top: 10px;
    padding: 0;
  }

  .dashboard-container{
    flex: 1;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
  }

  .dashboard-inner-container{
    width: fit-content;
    padding: 0px 30px;
    display: inline-flex;
    gap: 30px;
    height: 70%;
  }

  .alert-message{
    width: 500px;
    margin-left: 500px;
  }
  

   
