.boardList{
    display: flex;
    align-self: center;

}

.board-btn{
    margin-right: 20px;
    width: 200px !important;
    height: 100px !important;
    border: none;
   }
.title {
display: flow-root;
} 

